body {
    font-family:'Open Sans', sans-serif;
    
}

/* GENERAL STYLES */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/* END OF GENERAL STYLES */

/* HEADING STYLES */

/* END OF HEADING STYLES */

/* ABOUT SECTION STYLES */

/* END OF ABOUT SECTION STYLES */

/* SERVICES AND PRICES SECTION SYTLES */

/* END OF SERVICES AND PRICES SECTION SYTLES */

/* STATISTICS SECTION STYLES */

/* END OF STATISTICS SECTION STYLES */

/* OUR BARBERS SECTION STYLES */

/* END OF OUR BARBERS SECTION STYLES */

/* PICTURES SECTION STYLES */

/* END OF PICTURES SECTION STYLES */

/* BOOKING AND CONTACTS SECTION STYLES */

/* END OF BOOKING AND CONTACTS SECTION STYLES */

/* FOOTER SECTION */

/* END OF FOOTER SECTION */